<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689612913186-9hgr0o6ra2ilbrk695h791g10urgl1e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689612913186-9hgr0o6ra2ilbrk695h791g10urgl1e2</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQZK1hhZ5Pj3iP5Fu3n7-evKv_ByyzAE</string>
	<key>GCM_SENDER_ID</key>
	<string>689612913186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galiev.EKBTransport</string>
	<key>PROJECT_ID</key>
	<string>etransport-e8451</string>
	<key>STORAGE_BUCKET</key>
	<string>etransport-e8451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689612913186:ios:89c63a3b6d5d49349ce87b</string>
	<key>DATABASE_URL</key>
	<string>https://etransport-e8451.firebaseio.com</string>
</dict>
</plist>